@font-face {
    font-family: bebasNeue;
    src: url(BebasNeue-Regular.ttf);
}
body {
    background-image: linear-gradient(180deg, #175728, #5aa36d);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    background-attachment: fixed;
    height: 100%;
}
.main {
    margin-top: 1rem;
    display: flex grid;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.title {
    grid-row: 1;
    display: flex grid;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: bebasNeue;
}
.title-name {
    grid-row: 2;
    font-size: 4rem;
    margin: 0.5rem 2rem -0.5rem 2rem;
}
.subtitle {
    grid-row: 2;
    font-size: 1rem;
}
.sites {
    max-width: 4rem;
}
.profile-picture {
    grid-row: 1;
    margin-top: 2rem;
    height: 20%;
    max-height: 10rem;
    width: auto;
    border: 5px solid #e1ebe2;
    border-radius: 100px;
}
.circles-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.circles-wrapper > div {
    display: flex;
    border: 5px solid #e1ebe2;
    border-radius: 100px;
    background-color: #e1ebe2;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    margin: 20px;
}
.circle {
    /* color: #e1ebe2; */
    transition: 0.5s;
}
.circle:hover {
    background-color: #616b64;
    border-color: #616b64;
}
